<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="navbar :: navbar"></div>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Admin Panel</h1>
        <p class="lead">Admin Panel For Notifications Management Microservice</p>
    </div>
</main>

</body>
</html>