<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/address.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:fragment="customerForm" class="container">
    <h1>Customer Form</h1>
    <form th:object="${customerDTO}" th:action="@{/customers/{id}/edit(id=${customerId})}" method="post">
        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" th:field="*{fullName}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="mobilePhone">Mobile Phone:</label>
            <input type="tel" id="mobilePhone" th:field="*{phoneNumber}" required>
        </div>
        <div>
            <label for="preferredNotificationType">Preferred Notification Type:</label>
            <select id="preferredNotificationType" th:field="*{preferredNotificationType}">
                <option value="EMAIL">EMAIL</option>
                <option value="PHONE">PHONE</option>
                <option value="BOTH">BOTH</option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>