<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/customers/main.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/customers/main.css}"/>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Customer Profile</title>
</head>
<body>
<main layout:fragment="content">
  <div th:replace="navbar :: navbar"></div>

  <h1>Customer Profile</h1>
  <div>
    <h2 th:text="${customer.getFullName()}"></h2>
    <p><strong>Email:</strong> <span th:text="${customer.getEmail()}"></span></p>
    <p><strong>Mobile Phone:</strong> <span th:text="${customer.getPhoneNumber()}"></span></p>
  </div>
  <form th:action="@{/customers/{id}/delete(id=${customer.id})}"  method="post">
    <button class="button-6" role="button">Delete Profile</button>
  </form>
  <h3>Addresses</h3>
  <table>
    <thead>
    <tr>
      <th>Address Type</th>
      <th>Address Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${customer.getAddresses()}">
      <td th:text="${address.getAddressType()}"></td>
      <td th:text="${address.getAddressValue()}"></td>
    </tr>
    </tbody>
  </table>
  <div>
    <a th:href="@{/customers}">Back to Customer List</a>
  </div>
</main>
</body>
</html>